
.row {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;

    &.fill {
        flex: 1 1 auto;
    }

    &.hideOverflow {
        overflow: hidden;
    }
}