
.slide-show {
    width: 320px;
    height: 280px;
    text-align: center;

    div.latest {
        font-size: 30px;
        height: 35px;
        margin-bottom: 10px;
    }
}

@media screen and (min-width: 425px) {
    .slide-show {
        width: 380px;
    }
}

@media screen and (min-width: 1024px) {
    .slide-show {
        width: 480px;
        height: 350px;
    }
}

