@import '../styles/colors';
@import '../styles/variables';

button.btn {

    display: flex;
    align-items: center;
    justify-content: center;
    color: $font-color;
    border: $border;
    border-radius: $border-radius;
    background: none;
    margin: 10px;
    padding: 10px 5px;
    min-width: 70px;
    min-height: 40px;
    cursor: pointer;
    i {
        transition: all 0.2s;
    }
    

    &:hover {
        i {
            transform: translateX(10%);
        }
    }
}