
button.btn {
    $color: white;

    display: flex;
    align-items: center;
    justify-content: center;
    color: $color;
    border: 2px solid $color;
    background: none;
    border-radius: 5px;
    margin: 10px;
    padding: 10px 5px;
    min-width: 70px;
    min-height: 40px;
    cursor: pointer;
    i {
        transition: all 0.2s;
    }
    

    &:hover {
        i {
            transform: translateX(10%);
        }
    }
}