@import '../styles/variables';

.lightbox {
    --ggs: 1;

    display: flex;
    position: absolute;
    z-index: $lightbox-z;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    overflow: auto;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: rgba(0, 0, 0, 0.8);;


    .top-pane {
        display: flex;
        align-items: center;
        width: 100%;
        font-size: 20px;
        color: white;;
        height: 50px;
        button.close {
            border: none;
            background: none;
            cursor: pointer;
            width: 40px;
            margin-left: 50px;
            transition: all 0.2s;
            color: white;
            &:hover {
                transform: translateX(-10%);
            }
        }
    }
}