@import '../styles/variables';
@import '../styles/colors';

.lightbox {
    --ggs: 1;

    display: flex;
    position: absolute;
    z-index: $lightbox-z;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    overflow: auto;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: $lightbox-color;


    .top-pane {
        display: flex;
        align-items: center;
        width: 100%;
        font-size: 20px;
        color: $font-color;
        height: 50px;
        button.close {
            border: none;
            background: none;
            cursor: pointer;
            width: 40px;
            margin-left: 50px;
            transition: all 0.2s;
            color: $font-color;
            &:hover {
                transform: translateX(-10%);
            }
        }
    }
}