$font-color: black;

$expand1: rgb(161, 153, 153);
$expand2: rgb(177, 172, 162);
$expand3: rgb(161, 165, 182);

$timer-color: $font-color;

$lightbox-color: rgba(0, 0, 0, 0.8);

$light1: #f5cac2;
$light2: #ed7966;
$dark1: #303179;
$dark2: #141850;
