
@import '../styles/variables';
@import '../styles/colors';

.expand {
    $button-top: 80px; 

    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.6s ease-in-out;
    z-index: $expand-z;

    &.home {
        background-size: 100% 100%;
        background-repeat: no-repeat;
        background: url('../../resources/tester3.jpg');
    }

    &.paintings {
        background: $expand1;
    }

    &.drawings {
        background: $expand2;
    }

    &.digital {
        background: $expand3;
    }

    button.open {
        position: absolute;
        top: $button-top;
        left: calc(100% - 45px);
    }

    &.expand-enter {
        &.home {
            clip-path: circle(1px at calc(100% - 335px) $button-top);
        }
    
        &.paintings {
            clip-path: circle(1px at calc(100% - 245px) $button-top);
        }
    
        &.drawings {
            clip-path: circle(1px at calc(100% - 155px) $button-top);
        }
    
        &.digital {
            clip-path: circle(1px at calc(100% - 65px) $button-top);
        }

        &.expand-enter-active {
            clip-path: circle(100%);
        }
    }

    &.expand-exit {
        z-index: $expand-exit-z;
    }
}

  


@keyframes wobble {
    0%,100% { border-radius: 30% } 
    14% { border-radius: 40% 60% 54% 46% / 49% 60% 40% 51%; } 
    28% { border-radius: 54% 46% 38% 62% / 49% 70% 30% 51%; } 
    42% { border-radius: 61% 39% 55% 45% / 61% 38% 62% 39%; } 
    56% { border-radius: 61% 39% 67% 33% / 70% 50% 50% 30%; } 
    70% { border-radius: 50% 50% 34% 66% / 56% 68% 32% 44%; } 
    84% { border-radius: 46% 54% 50% 50% / 35% 61% 39% 65%; } 
}