
.cycle {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    width: 100%;
    height: calc(100% - 50px);

    --ggs: 1.5;

    .cycle-pane {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        max-height: calc(100% - 75px);

    
        .prev, .next {
            border: none;
            background: none;
            cursor: pointer;
            color: white;
            margin: 30px;
            transition: all 0.2s;
        }

        &.dark {
            .prev, .next {
                color: black;
            }
        }

        .prev:hover {
            transform: translateX(-15%);
        }

        .next:hover {
            transform: translateX(15%);
        }

        img {
            max-width: calc(100% - 180px);
            max-height: calc(100% - 0px);
        }

        .img-slide-enter {
            opacity: 0.1;
        }

        .img-slide-enter.img-slide-enter-active {
            opacity: 1;
            transition: opacity 500ms ease-in;
        }

        .img-slide-exit {
            opacity: 1;
        }

        .img-slide-exit.img-slide-enter-active {
            opacity: 0.01;
            transition: opacity 300ms ease-in;
        }
    }

    .out-timer {
        height: 5px;
        margin: 10px;
        width: 100px;
        display: flex;
        align-items: center;
        justify-content: center;

        .in-timer {
            height: 100%;
            background: black;
            border-radius: 5px;
        }
    }
}