@import '../styles/colors';
@import '../styles/variables';

.cycle {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    width: 100%;
    height: calc(100% - 50px);

    --ggs: 1.5;

    .cycle-pane {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        height: calc(100% - 75px);

    
        .prev, .next {
            border: none;
            background: none;
            cursor: pointer;
            color: $font-color;
            margin: 30px;
            transition: all 0.2s;
        }

        &.dark {
            .prev, .next {
                color: black;
            }
        }

        .prev:hover {
            transform: translateX(-15%);
        }

        .next:hover {
            transform: translateX(15%);
        }

        .img-box {
            height: 100%;
            width: calc(100% - 188px);

            :first-child {
                width: 100%;
                height: 100%;
                overflow: hidden;
            }

            img {
                object-fit: contain;
                
                &.img-slide-enter-right {
                    position: relative;
                    transform: translateX(100%);
            
                    &.img-slide-enter-right-active {
                        transform: translateX(0%);
                        transition: transform 300ms ease-in-out;
                    }
                }
            
                &.img-slide-enter-left {
                    transform: translateX(-100%);
            
                    &.img-slide-enter-left-active {
                        transform: translateX(0%);
                        transition: transform 300ms ease-in-out;
                    }
                }
            
                &.img-slide-exit-right {
                    transform: translateX(0%);
            
                    &.img-slide-exit-right-active {
                        transform: translateX(-100%);
                        transition: transform 300ms ease-in-out;
                    }
                }
            
                &.img-slide-exit-left {
                    transform: translateX(0%);
            
                    &.img-slide-exit-left-active {
                        transform: translateX(100%);
                        transition: transform 300ms ease-in-out;
                    }
                }
            }
        }        
    }

    .out-timer {
        height: 5px;
        margin: 10px;
        width: 100px;
        display: flex;
        align-items: center;
        justify-content: center;

        .in-timer {
            height: 100%;
            background: $timer-color;
            border-radius: $border-radius;
        }
    }
}