

.about {
    margin: 0px 20px;

    span {
        font-size: 70px;
        margin: 20px;
    }

    p {
        max-width: 450px;
        text-align: justify;
        text-justify: inter-word;
    }

    a {
        margin: 10px 20px;
    
        &:visited {
            color: white;
        }
    }
}