@import '../../styles/variables';
@import '../../styles/colors';

.filter {
  width: 70px;
  font-size: 10px;
  label {
    display: flex;
    align-items: center;
    max-width: 80px;
    cursor: pointer;
    position: relative;

    &.selected:before {
      content: '';
      position: absolute;
      left: -10px;
      width: 5px;
      height: 5px;
      background: $font-color;
    }
  }
  span {
    margin-bottom: 40px;
    display: block;
  }
}

@media screen and (min-width: 768px) {
  .filter {
    font-size: initial;
  }
}

@media screen and (min-width: 1024px) {
  .filter {
    width: 150px;
  }
}
