@import '../../styles/variables';
@import '../../styles/colors';

nav {
  display: flex;
  flex-direction: column;
  padding: 20px 20px 0px;
  font-size: 10px;

  text-transform: uppercase;
  z-index: 5;
  position: relative;
  gap: 15px;

  .links {
    display: flex;
    flex-flow: wrap;
    justify-content: space-between;
    column-gap: 50px;
    row-gap: 5px;
    column-gap: 70px;

    a {
      color: $font-color;

      &.link-active {
        border-bottom: 1px solid #000000;
      }
    }
  }
  select {
    background: none;
    cursor: pointer;
    border: none;
    font-size: 8px;
    max-width: 100px;
  }
}

@media screen and (min-width: 768px) {
  nav {
    flex-direction: row;
    justify-content: space-between;
    font-size: 14px;
    padding: 60px 60px 0px;
    gap: unset;

    .links {
      gap: 30px;
    }

    select {
      font-size: initial;
    }
  }
}
