@import '../styles/variables';

form {
    background: rgba(0, 0, 0, 0.5);
    padding: 10px;
    border-radius: 5px;

    label {
        margin-left: 5px;
    }

    input, select {
        width: 300px;
        height: 35px;
        font-size: 17px;
        box-sizing: border-box;
        display: flex;
        align-items: center;
        justify-content: center;
        color: $font-color;
        border: $border;
        border-radius: $border-radius;
        background: none;
        margin: 10px;
        margin-bottom: 15px;
        padding: 5px;
        cursor: pointer;
    
        &[type='submit'] {
            width: 50px;
            background: $font-color;
            color: black;
        }
    
        i {
            transition: all 0.2s;
        }
        
    
        &:hover {
            i {
                transform: translateX(10%);
            }
        }
    }
    
    option {
        color: black;
    }
}

