.gallery-display {
  display: flex;
  flex-direction: row;
  overflow: hidden;
  height: 100%;
  gap: 10px;
  padding: 100px 20px 0px;
}

@media screen and (min-width: 768px) {
  .gallery-display {
    padding: 100px 60px 0px;
  }
}
