
$font-color: rgb(236, 236, 236);

$expand1: rgb(133, 119, 119);
$expand2: rgb(146, 138, 123);
$expand3: rgb(112, 117, 139);

$timer-color: $font-color;

$lightbox-color: rgba(0, 0, 0, 0.8);

$light1: #f5cac2;
$light2: #ed7966;
$dark1: #303179;
$dark2: #141850;