@import './colors';

$border: 1px solid $font-color;
$border-radius: 5px;

$nav-top: 100px;


// slide-show
$latest-height: 35px;
$latest-margin: 10px;
$cycle-top-margin: $latest-height + $latest-margin;



// z-indexes
$lightbox-z: 1000;
$trigger-z: 110;
$nav-z: 100;
$expand-z: 50;
$expand-exit-z: 10;
$back-z: -100;

@mixin general-hover() {
    border: $border;
    border-radius: $border-radius;
    box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.2);
}