@import '../styles/variables';
@import '../styles/colors';

$top-margin: 50px;

.gallery {
    display: flex;
    justify-content: center;
    flex-direction: column;
    overflow: hidden;
    padding-top: $top-margin;
    height: 100%;
    width: 100%;
    box-sizing: border-box;

    
    $tile: 250px;
    $tile-padding: 20px;

    $title-height: 50px;

    h1 {
        position: absolute;
        text-align: center;
        top: 0;
        width: 200px;
        left: calc(50% - 100px);
    }

    .scrollable {
        overflow-y: auto;
        height: 100%;
        width: 100%;
        max-width: 900px;
        //width: 3*$tile + 6*$tile-padding + 20px;

        .images {
    
            .image-tile {
                position: relative;
                text-align: center;
                float: left;
                box-sizing: border-box;
                padding: $tile-padding;
                width: 100%;
                height: $tile;
                transition: all 0.3s ease-out;
                border: 1px solid transparent;

                &::after {
                    content: '';
                    width: 80%;
                    height: 1px;
                    background: $font-color;
                    position: absolute;
                    bottom: -1px;
                    left: 10%;
                }

                &:hover {
                    cursor: pointer;
                    border: $border;
                    border-radius: $border-radius;
                }

                .img-box {
                    width: 100%;
                    height: calc(100% - $title-height);

                    img {
                        max-width: 100%;
                        max-height: 100%;
                    }
                }

                div.image-title {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    width: 100%;
                    height: $title-height;
                }

            }
        }
    }


    .filters {
        border: $border;
        border-radius: $border-radius;
        height: fit-content;
        margin: 15px 10px;
        padding: 10px 20px;
        min-width: 150px;
        transition: all 0.5s;

        .filters-top {
            display: flex;
            justify-content: space-between;

            span {
                font-size: 22px;
            }

            .filters-expand {
                color: $font-color;
                background: none;
                outline: none;
                border: none;
            }
        }

        .filters-panels {
            display: none;

            &.open {
                display: block;
            }
        }
    }
}

@media screen and (min-width: 768px) {
    .gallery {
        flex-direction: row;
        padding-top: $top-margin * 2.2;
        .scrollable {
            .images {
                .image-tile {
                    width: 50%;
                }
            }
        }

        .filters {
            .filters-top {
                display: none;
            }

            .filters-panels {
                display: block;
            }
        }
    }
}

@media screen and (min-width: 1024px) {
    .gallery {
        .scrollable {
            .images {
                .image-tile {
                    width: 33%;
                }
            }
        }
    }
}

::-webkit-scrollbar {
    width: 10px;
    
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: $border-radius;
}

::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: $border-radius;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}
