@import '../styles/variables';

.gallery {
    display: flex;
    justify-content: center;
    flex-direction: row;
    overflow: hidden;
    height: 100%;
    width: 100%;

    $top-margin: 150px;
    $tile: 250px;
    $tile-padding: 20px;

    $title-height: 50px;

    h1 {
        position: absolute;
        top: 0;
        width: 200px;
        left: calc(50% - 100px);
    }

    .scrollable {
        overflow-y: scroll;
        margin-top: $top-margin;
        height: calc(100% - $top-margin);
        width: 3*$tile + 6*$tile-padding + 20px;

        .images {
    
            .image-tile {
                position: relative;
                text-align: center;
                float: left;
                padding: $tile-padding;
                width: $tile;
                height: $tile;
                transition: all 0.3s ease-out;
                border: 1px solid transparent;

                &::after {
                    content: '';
                    width: 200px;
                    height: 1px;
                    background: $font-color;
                    position: absolute;
                    bottom: -1px;
                    left: 50px;
                }

                &:hover {
                    cursor: pointer;
                    border: $border;
                    border-radius: $border-radius;
                }

                .img-box {
                    width: 100%;
                    height: calc(100% - $title-height);

                    img {
                        max-width: 100%;
                        max-height: 100%;
                    }
                }

                div.image-title {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    max-width: 250px;
                    height: $title-height;
                }

            }
        }
    }


    .filters {
        border: $border;
        border-radius: $border-radius;
        height: fit-content;
        margin: 30px;
        margin-top: $top-margin;
        min-width: 150px;

        .filter {
            margin: 35px;
        }
    }
}

::-webkit-scrollbar {
    width: 10px;
    
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: $border-radius;
}

::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: $border-radius;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}
