@import '../../styles/variables';
@import '../../styles/colors';

.gallery {
  height: 100%;
  overflow: auto;
  .images {
    display: flex;
    overflow: auto;
    max-height: 100%;
    flex-flow: row wrap;
    column-gap: 50px;
    row-gap: 30px;
    * {
      flex-basis: 25%;
    }
  }
}

@media screen and (min-width: 768px) {
  .gallery {
    .images {
      column-gap: 110px;
    }
  }
}

::-webkit-scrollbar {
  width: 7px;
}

::-webkit-scrollbar-track {
  background: rgba(46, 83, 111, 0.5);
  border-radius: 6px;
}

::-webkit-scrollbar-thumb {
  background: rgba(184, 138, 83, 0.7);
  border-radius: 6px;
}

::-webkit-scrollbar-thumb:hover {
  background: rgba(151, 107, 53, 0.7);
}
