footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  background: rgb(44, 44, 44);
  font-size: 12px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  height: 50px;
  padding: 0px 10px;
  gap: 30px;
}

@media screen and (min-width: 768px) {
  footer {
    height: 30px;
  }
}
