
@import './components/styles/variables';
@import './components/styles/colors';

body {
    font-family: Lato, sans-serif;

    h1, h2, h3, h4, h5, h6 {
        font-weight: normal;
    }
}

.app {
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    color: $font-color;

    .back-image {
        background: url('./resources/tester3.jpg');
        opacity: 0.7;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-size: 100vw 100vh;
        background-repeat: no-repeat;
        z-index: $back-z;
    }
    

    .nav {
        position: absolute;
        top: $nav-top;
        right: 0px;
        width: 100%;
        z-index: $nav-z;

        select {
            box-sizing: border-box;
            display: flex;
            align-items: center;
            justify-content: center;
            color: $font-color;
            border: $border;
            border-radius: $border-radius;
            background: none;
            margin: 10px;
            padding: 10px 5px;
            cursor: pointer;
        }
        
        option {
            color: black;
        }
    }

    .separator {
        height: 300px;
        width: 2px;
        background: $font-color;
    }
}
