
@import './components/styles/variables';

body {
    font-family: Arial, sans-serif;
}

.app {
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;

    .back-image {
        background: url('./resources/tester3.jpg');
        opacity: 0.7;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-size: 100vw 100vh;
        background-repeat: no-repeat;
        z-index: $back-z;
    }
    

    .nav {
        position: absolute;
        top: $nav-top;
        right: 50px;
        z-index: $nav-z;
    }

    .separator {
        height: 300px;
        width: 2px;
        background: white;
    }
}
