
body {
    font-family: Arial, sans-serif;
}

.app {
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;

    .back-image {
        background: url('./resources/tester3.jpg');
        opacity: 0.7;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-size: 100vw 100vh;
        background-repeat: no-repeat;
        z-index: -100;
        //filter: brightness(90%);
    }
    

    .nav {
        position: fixed;
        top: 50px;
        right: 50px;
        z-index: 1000;
    }
}
